.terminal {
  margin: 20px auto 0;
  text-align: left;
}

.button {
  display: block;
  margin: 15px auto;
  padding: 15px 30px;
  /*width: 250px;*/
  /*height: 70px;*/
  border: 2px solid #ffe654;
  border-radius: 40px;
  background: #ffe645;
  color: #000000;
  letter-spacing: 1px;
  font-size: 18px;
}

.button:focus {
  outline: none
}

.button:hover, .button:active {
  border-color: #ffe654;
  background: transparent;
  /*background: #ffe654;*/
}
